openapi: 3.0.3
info:
  title: CertiK Partner (Skynet) Security Score Token Scan API
  version: 1.4.2
  description: 'CertiK Partner API (Skynet) exposes CertiK''s Web3 security intelligence: the Skynet Security Score API returns comprehensive, multi-metric security scores for blockchain projects, and the Token Scan API returns real-time on-chain security analysis of token contracts across major chains. Access is by API key issued to partners by the CertiK Business Team. This spec was generated by the API Evangelist enrichment pipeline from CertiK''s published Partner API documentation; it is not an official CertiK-published OpenAPI.'
  x-apievangelist-generated: true
  x-source-docs: https://api.certik-skynet.com/public-docs/
  contact:
    name: CertiK API Support
    email: APIsupport@certik.com
    url: https://api.certik-skynet.com/public-docs/
servers:
- url: https://partner.certik-skynet.com
  description: CertiK Partner API production
security:
- CertikApiKey: []
tags:
- name: Token Scan
  description: Real-time on-chain token contract security analysis.
paths:
  /v1/token-scan/contract/query:
    get:
      tags:
      - Token Scan
      operationId: queryTokenScan
      summary: Scan a single token contract
      description: Returns comprehensive token analysis for a single contract, including token info, market info, SkyKnight score, and a security summary of risk flags with severity levels.
      responses:
        '200':
          description: Token scan result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenScanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/token-scan/contract/query/batch:
    get:
      tags:
      - Token Scan
      operationId: queryTokenScanBatch
      summary: Scan multiple token contracts in bulk
      description: Returns token scan results for multiple contracts in a single request.
      responses:
        '200':
          description: Batch of token scan results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenScanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    InternalServerError:
      description: An unexpected server issue was encountered.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The server could not process the request, likely due to invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The 'X-Certik-Api-Key' header is invalid or missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    TokenScanResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            token_info:
              type: object
            token_meta:
              type: object
            market_info:
              type: object
            skyknight_score:
              type: object
            security_summary:
              type: object
            created_at:
              type: string
              format: date-time
    Error:
      type: object
      description: Standard CertiK API error envelope.
      properties:
        code:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Success or failure message.
        data:
          type: object
          nullable: true
  securitySchemes:
    CertikApiKey:
      type: apiKey
      in: header
      name: X-Certik-Api-Key
      description: Partner API key issued by the CertiK Business Team, sent on every request in the X-Certik-Api-Key header.
